<nb-card>
  <nb-card-header>Manage videos</nb-card-header>
  <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="deleteVideo($event)">
        </ng2-smart-table>
  </nb-card-body>
</nb-card>

<ng-template #commentList>
  <nb-card>
    <nb-card-header>Comments List</nb-card-header>
    <nb-card-body>
      <div style="width: 500px;">
          <nb-list *ngIf="comments?.length>0; else empty">
            <nb-list-item *ngFor="let comment of comments">
            
              <nb-user [name]="comment.name" [picture]="comment.image" [title]="comment.message"></nb-user>
            </nb-list-item> 
          </nb-list>
          <ng-template #empty>
            <span>No comments to show</span>
          </ng-template>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>